<div class="right-side col-xs-6 col-sm-4 pull-right">
           <div>
            <iframe width="230" height="500" src="https://www.youtube.com/embed/2Ex8EEv-WPs" frameborder="0" allowfullscreen></iframe>
          </div>
        <h4 class="list-group-item-heading">
          Great Ruby Tutorials</h4>

            <% @client.sample do |tweet| %>
              <%= tweet.text %>
            <% end %>
            
            <p>
                 <%= link_to "Ruby Learning", "http://rubylearning.com/satishtalim/tutorial.html" %> 
            </p>
            <p>
                 <%= link_to "Ruby Monk", "https://rubymonk.com/" %> 
            </p>

            <h4 class="list-group-item-heading">Great Ruby Tutorials</h4>
            <p>
              <%= link_to "Full-Text Search in Rails using elasticsearch", "http://adventuresincoding.com/2012/05/full-text-search-in-rails-using-elasticsearch" %>
            </p>
            
            <h4 class="list-group-item-heading">Mashable's Tech Feeds</h4>
            <p>
              <%= blog_feed %>
            </p>
    </div>
</div>