<div class="wrap">
  <div class="container panel-body">
    <div class="row">

      <div class="col-xs-6 col-sm-8 content">
        <% @posts.each do |post| %>
        <h4><%= link_to content_tag(:strong, post.title), post %></h4>
        <p>
        <p class="date">
          <%= post.created_at.strftime('%b %d, %Y') %>
        </p>
          <%= truncate(parse_urls(post.content), length: 300, separator: ' ', escape: false) %>
          <%= link_to '...Read More...', post %> 
        </p>
        <% end %>
      </div>

      <%= render 'shared/rightsidebar' %> 

    </div>
  </div>
</div>

