<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<link rel="stylesheet" type="text/css" href="bootstrap.css">
<link rel="stylesheet" type="text/css" href="custom.css">
<meta name="google-site-verification" content="2Yn7trfqMl2n8ACm4mc4qQk6YyHT-jotONx0fdwazZY" />
</head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/jumbotron' %>

    <% flash.each do |type, msg| %>
        <div class="alert <%= flash_class (type) %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= msg %>
        </div>
    <% end %>


     <%= yield %>


    <%= render 'shared/footer' %>

  </body>
</html>

